<!--like the friends/_lookup.html.erb copy that to here. And replace all friend to friend-->
<div id="friend-lookup">

  <h3>Search for friends</h3>

  <!--We will us js later, the id: 'friend-lookup-form' is for js.-->
  <!--We will handle the submit here by Ajax here.-->
  <!--we don't have search_friends_path now, go to routes create it later-->
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12"><!--Bootstrap only-->
        <div class="col-md-10">
          <!--change herer to :search_param-->
          <%= text_field_tag :search_param, params[:search_param],
                                            placeholder: "first name, last name or email",autofocus: true,
                                            class: 'form-control search-box input-lg' %>

        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
            <i class="fa fa-search"></i> Look up a friend
          <%end%>
        </div>
    </div>
  <% end %>
  <!--render a spinner when wait the friend quoting by network-->
  <%= render 'common/spinner'%>


<!--If you find the ticker, who to display-->
<!--If I have the @friend instance create by friends_controller.rb-->

  <% if @users %>
    <!--@users is our search result, we will get it later.-->
    <% if @users.size > 0 %>
    <h3>Search Results</h3>
      <div id='friend-lookup-results' class="well results-block col-md-10">
        <table class="search-results-table col-md-12">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><strong>Name:</strong> <%= user.full_name %></td>
                <td><strong>Email:</strong> <%= user.email %></td>
                <td><strong>Profile:</strong> <%= link_to "View Profile", user_path(user), class: 'btn btn-xs btn-success' %>
                  <!--we will build not_friends_with in user.rb model later. we don't want to show ourself as a searching result.-->
                  <% if current_user.not_friends_with?(user.id)%>
                    <!--we don't have add_friend_path now, go to routes create it later-->
                    <%= link_to "Add as my friend", add_friend_path(user: current_user,friend: user),
                                                   class: 'btn btn-xs btn-success', method: :post %>
                  <% else %>
                    <span class="label label-primary">
                      You are friends
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="lead col-md-12">
        No people match this search criteria
      </p>
    <% end %>
  <% end %>

<!--for quote error-->
  <div id='friend-lookup-errors'></div>
</div>
